

body {
    text-transform:uppercase;
    width: 100%;

}

h1 {
	color: #044371;
	font-size:24px;
    font-weight: bold;
	text-align: center;
}

h2 {
	color: #FFFFFF;
	font-style: italic;
	font-size: medium;
	font-weight: normal;
}

h3 {
    color: #840D1C;
    font-size: 12pt;
    padding: 0px;
    text-align: center;
}

h4 {
    color: #044371;
    font-size:20px;
    font-weight: bold;
}

h5 {
    color: #000000;
    font-size:20px;
    font-weight: bold;
}

h6 {
    color: #840D1C;
    font-size:20px;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

p {
	font-size: 22px;
}

a {
    color: blue;
}

dt {
    font-size: 14pt;
    font-weight: bold;
    padding-left: 22px ;
    text-indent: -22px ;
    margin-bottom: 22px;
    text-transform: none;
}

dd {
    font-size: 14pt;
    margin-left: 22px ;
    margin-bottom: 22px;
    text-transform: none;
}

/************************************* jQUERY MOBILE CSS *************************************/

ul {
    list-style-type: none;
    margin: 2px;
    padding: 2px;
}

.ui-header {
	background: #044371;
    margin: 0px;
    padding: 0px;
    text-align: left;
}

#homePageGrid {
    margin-top: 35px;
    text-align: center;
}

#homePageGrid li {
    margin-bottom: 40px;
}

.logoSpacing {
    margin-left: 15px;

}

.ui-btn {
	background: #036F8D;
	color: white;
	text-shadow: none;
    cursor: pointer;
}

.ui-btn-active {
	background: #044371;
    color: white;
}

.ui-footer {
	background: #044371;
}

.ui-footer h1 {
	color: #FFFFFF;
    font-size: 18px;
    font-weight: normal;
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px;
    text-align: left;
}

.ui-page {
	background: transparent;
}

.ui-li-divider {
    background: #C1B298;
    color: #044371;
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
}

.listviewImages {
	padding-left: 10px;
}

.liLabels {
	color: white;
	text-shadow: none;
}

/************************************* HOME *************************************/

#home {

    background: #C1B298;

}

/************************************* INSTAGRAM *************************************/

#instagramPage {

    background: #C1B298;

}

.instaPics img { 
    border: 3px solid #044371;
    margin-bottom: 0px;
    max-width: 100%;
}

.instaPics {
    display: inline;
    float: left;
}

/************************************* CAMERA *************************************/

#cameraPage {

    background: #C1B298;

}

#venueImage {

    width: 200px;
    height: 200px;
    display: none;

}

#smallImage {

    width: 60px;
    height: 60px;
    display: none;

}

#largeImage {

    width: 200px;
    height: 200px;
    display: none;

}

/************************************* FOURSQUARE *************************************/

#foursquarePage {

    background: #C1B298;

}

#foursquarePage h1 {

    color: #840D1C;

}

#foursquarePage h4 {

    font-size: 22px;

}

#foursquarePage li:nth-child(2n+1) {

    background: #CEBEA2;

}

#map2 {
    width: 75%;
    height: 200px;
    margin: auto;
}

/************************************* GEOLOCATION *************************************/

#geolocationPage {

    background: #C1B298;
    color: #840D1C;
    font-weight: bold;

}

#map {
    width: 100%;
    height: 450px;
}

/************************************* ABOUT *************************************/

#aboutPage {

    background: #C1B298;

}

#aboutPage h1 {

    color: #840D1C;

}

/************************************* RESEARCH PAGES *************************************/

.researchPages {
    background: #FFFFFF;
}

/************************************* VENUES *************************************/

#myVenueInfoPage {

    background: #C1B298;

}

label {

    color: #840D1C;
    font-size:20px;
    font-weight: bold;
	text-align: center;

}

#dataTable {

    background-color: Transparent;
    text-align: center;
    width: 100%;

}

.addVenue {
background-color: Transparent;
float: left;
margin-left: 0;
position: absolute;
left: 0px
}
 
.checkbox {
background-color: Transparent;
height: 20px;
width: 20px;
}
 
.textbox {
background-color: #FFFFFF;
font-size: 20px;
width: auto;
}
 
.viewButton { 
float: left;
margin: 0px;
padding: 0px;
width: auto;
}
 
.deleteButton { 
float: left;
margin: 0px;
padding: 0px;
width: auto;
}

cell {
    height: 100px;
    padding: 0px;
}

/************************************* MEDIA QUERY - SMALL SCREEN *************************************/

@media only screen and (max-width: 320px) {

	header img {
	
		width: 90%;
		
	}
	
	footer img {
	
		width: 80%;
		
	}
	
	#geolocation {
	
		font-size: 20px;
		
	}
	
	.my-breakpoint .ui-block-a, 
	.my-breakpoint .ui-block-b, 
	.my-breakpoint .ui-block-c,
	.my-breakpoint .ui-block-d,
	.my-breakpoint .ui-block-e { 
		width: 100%; 
		float: none; 
	}

}
    
/************************************* MEDIA QUERY - I-PAD PORTRAIT ORIENTATION */

@media only screen and (min-width: 768px) {

    .instaPics {
        padding-left: 3.4%;
        width: 29.3%;
    }
}

/************************************* MEDIA QUERY - I-PAD LANDSCAPE ORIENTATION */

@media only screen and (min-width: 1024px) {
    
    .instaPics {
        padding-left: 2.4%;
        width: 22%;
    }
}

.ui-icon-album {
   background: url("images/albumn.png") no-repeat 50% 50% !important;      
   -moz-border-radius:0px;
    -webkit-border-radius:0px;
   border-radius:0px
}

/* this makes the nav bar a bit higher than default */
.myNavBar .ui-btn .ui-btn-inner { padding-top: 40px !important; }

/* and this makes the space for the icons a bit bigger */
.myNavBar .ui-btn .ui-icon { width: 40px!important; height: 40px!important; margin-left: -20px !important; box-shadow: none!important; -moz-box-shadow: none!important; -webkit-box-shadow: none!important; -webkit-border-radius: 0 !important; border-radius: 0 !important; 
margin-top:-5px;
}

/* this inserts the actual custom icon, adjust size to taste */
#book .ui-icon {
	background: url(images/tab-book@2x.png) 50% 50% no-repeat;
	background-size:32px 32px;
}
#stories .ui-icon {
	background: url(images/tab-story@2x.png) 50% 50% no-repeat;
	background-size:32px 32px;
}
#shows .ui-icon {
	background: url(images/tab-tv@2x.png) 50% 50% no-repeat;
	background-size:32px 32px;
}
#movies .ui-icon {
	background: url(images/tab-movie@2x.png) 50% 50% no-repeat;
	background-size:32px 32px;
}